/* CreateRun.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select,
  input[type='text'] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  select:focus,
  input[type='text']:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button[type='submit'] {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 20px;
    font-weight: bold;
  }
  
/* CreateRun.css */

.dropdown-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.dropdown-input input {
  border: none;
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px 0 0 4px;
}

.dropdown-input select {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px;
  cursor: pointer;
}
